<!DOCTYPE html>
{% load static%}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&amp;display=swap">
    <title>mds</title>
</head>
<body>
    <div class='d-flex flex-column justify-content-center align-items-center shadow py-5 w-75 mt-5 container'>
        <h2 class='alert alert-success text-center'>Votre mot de passe a été réinitialiser avec succès !</h2>
        <a class='btn btn-success mt-2' href="{%url 'login'%}">Se connecter</a>
    </div>
</body>
</html>