<!DOCTYPE html>
{% load static %}
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&amp;display=swap">
    <title>Réinitialisation du mot de passe</title>
  </head>
  <body>
    <div class='d-flex flex-column justify-content-evenly py-5 px-4 mt-5 align-items-center container shadow'>
      <h2 class='text-center mb-4'>Confirmation de l'adresse mail</h2>
    <p class='text-center'>Un email de confirmation vous a été envoyé.</p>
    <p class='alert alert-warning text-center'>Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>
    </div>
  </body>
</html>